<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Larry\Documents\RussBucks\LoserPool1.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>RussBucks</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LoserPool2Connection" Order="5" Enabled="True">
          <Destination Path="Data Source=(LocalDb)\MSSQLLocalDb;Initial Catalog=LosersPool2;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\LosersPool2.mdf;Initial Catalog=LosersPool2;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LoserPool2Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\LosersPool2.mdf;Initial Catalog=LosersPool2;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Pool2Connection" Order="6" Enabled="True">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\Pools2.mdf;Initial Catalog=Pools2;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Pool2Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\Pools2.mdf;Initial Catalog=Pools2;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LosersPool2" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LoserPool1.LosersPool.Models.LosersPoolContext, LoserPool1" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="9" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\v11.0;Initial Catalog=aspnet-LoserPool1-20150308052605;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LoserPool1.ApplicationDbContext, LoserPool1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PlayoffPool1" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LoserPool1.PlayoffPool.Models.PlayoffPoolContext, LoserPool1" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Pools2" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LoserPool1.JoinPools.Models.PoolDbContext, LoserPool1" MigrationConfiguration="LoserPool1.Migrations.Configuration, LoserPool1" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\v11.0;Initial Catalog=aspnet-LoserPool1-20150308052605;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LoserPool2Connection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\MSSQLLocalDb;Initial Catalog=LosersPool2;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LosersPool2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PlayoffPool1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Pool2Connection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Pools2-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="LosersPool2" />
    <_ConnectionStringsToInsert Include="PlayoffPool1" />
    <_ConnectionStringsToInsert Include="Pools2" />
  </ItemGroup>
</Project>